.materials-and-technologies {
  padding: 20px;
  /* background-color: #f0f0f0; */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.materials-and-technologies h2 {
  color: #333;
  border-bottom: 2px solid #4a90e2;
  padding-bottom: 5px;
}

.materials-list,
.technologies-list {
  list-style-type: none;
  padding: 0;
}

.materials-list li,
.technologies-list li {
  /* background-color: #fff; */
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.materials-list li strong,
.technologies-list li strong {
  color: #4a90e2;
}

.form input {background-color: transparent;
  color: aliceblue;
padding: 8px;}

