.map-container {
  position: relative;
  width: 100%; /* Дозволяє карті заповнювати всю ширину */
  height: 100vh; /* Заповнює всю висоту вікна */
  overflow: hidden; /* Приховує скролінг */
}

.map-image {
  width: 100%; /* Зображення займатиме всю ширину контейнера */
  height: auto; /* Зберігає пропорції зображення */
}

.resource-layer {
  position: absolute; /* Дозволяє точкам з'являтися поверх зображення */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.resource-point {
  font-size: 8px;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.resource-point.active {
  background-color: red; /* Активний колір */
}

.resource-point.inactive {
  background-color: black; /* Неактивний колір */
  cursor: default; /* Заборона на взаємодію */
}
